<template name="message">
    {{#with messageObj}}
        <li class="collection-item avatar myMessage">
            <img class="circle" src="{{gravatar}}" />
            <span class="title name">{{#if ifUserIsAuthor}}Me{{else}}{{email}}{{/if}}</span>
                <p>{{message}}</p>
            <span class="secondary-content">{{formattedDate}}</span>
        </li>
    {{else}}
        <li>
            <!-- {{#if loading}} -->
                {{> keyGenLoading size="small"}}
            <!-- {{/if}} -->
        </li>
    {{/with}}
</template>
