// color-primary = #537290
color-primary = #00A4D9
// color-secondary = #00FFC6
color-secondary = #2ab7a9
color-third = #F79720
color-fourth = #E31D39
border-color = #E4E4E4

primary-text = #4d4d4e
secondary-text = #626262
hint-text = #AFAFAF
logo-text = #2A3742
divider = #BABABA

// landing-color = rgb(71, 86, 117)
landing-color = color-primary
// landing-color-footer = rgba(71, 86, 117, 0.9)
landing-color-footer = rgba(color-primary, 0.9)

.primary-text
  color color-primary
