@import 'colors'

footer.public
  background-color landing-color-footer
  +below(620px)
    background-color landing-color
  color white
  padding-top 16px
  padding-bottom 8px
  display flex
  justify-content center
  > div > *
    margin-bottom 8px
