@import 'colors'

.card
    overflow visible
    .card-content
        .card-title
            color black
            font-size 15px
            line-height normal

        .card-textarea
            padding-top 5px
            .input-field
                margin 0
                textarea.materialize-textarea
                    padding 5px 0

        .btn
            margin 4px

        .card-action
            padding 5px
            display flex
            justify-content flex-end
            .btn-icon > i
                color primary-text
