<template name="publicLayout">

	<main class="public">
		<div class="landing">
			<div>
				<div class="landing-content">
					<div>
						{{#if authInProcess}}
							{{> loading}}
						{{else}}
							{{#unless loggedIn}}
								<h1>planifica:encryption</h1>
								{{> Template.dynamic template=main}}
							{{else}}
								Generating / loading your RSA key...<br>
								This may take a minute.<br>
								{{> loading}}
							{{/unless}}
						{{/if}}
					</div>
				</div>
			</div>
			{{>publicFooter}}
		</div>
	</main>

</template>
