@import '../colors'

.btn, .btn-flat
	padding 15px
	height auto
	line-height normal
	color white

.btn, .btn:hover
	background-color landing-color
	color white

.fixed-action-btn
	bottom 15px
	right 15px

.btn-floating
	background-color color-secondary
.btn-floating:hover
	background-color rgba(rgb(color-secondary), 0.5)

.btn-icon
	background none
	display inline-block
	color #FFF
	position relative
	overflow hidden
	z-index 1
	width 37px
	height 37px
	line-height 37px
	padding 0
	border-radius 50%
	transition .3s
	cursor pointer
	vertical-align middle
	&:hover
		background-color rgba(0,0,0,0.2)

	&.on-white
		> i
			color primary-text
	> i
		width inherit
		display inline-block
		text-align center
		color #FFF
		font-size 1.6rem !important
		line-height 37px

	&:before
		border-radius 0

	&.btn-large
		width 55px
		height 55px

	&.btn-large i
		font-size 3rem
		line-height 55px

	&.border
		border 1px solid white

button.btn-icon
	border none

.btn-flat.on-white
	color primary-text

nav, nav .nav-wrapper .btn-icon i, nav a.button-collapse, nav a.button-collapse .btn-icon i
	line-height 37px
