.modal
    &.big
        height 90%
        max-height 90%
        top 5% !important
    .modal-content
        > h5
            margin 0 0 20px 0
        > p
            margin 0
    .modal-footer
        height 65px
        padding 8px 8px 8px 24px
        > .btn, .btn-flat
            margin 0
