@import '../colors'

.file-tree
    position relative
    height 260px
    .file-tree-header
        height 60px
        position relative
        background-color divider
    .file-tree-content
        position absolute
        top 60px
        bottom 0
        left 0
        right 0
        overflow-y hidden
        border 1px solid divider
        height 200px
        overflow auto
