.file-browser
    height 100%

.file-browser.row
    padding: 0 0.75rem;
    &.dragover
        background-color rgba(0,0,0,0.2)


.preview
    background-color rgba(0,0,0,0.5)
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    display block
    overflow-y auto
    -webkit-overflow-scrolling touch
    z-index 1000
    .preview-content
        position absolute
        bottom 0
        top 70px
        left 0
        right 0
        overflow auto
        display flex
        justify-content center
        align-items center
        > *
            position static
        embed
            background-color white
        img
            max-height 90%
            width auto
            max-width 90%
            height auto
        .preview-text
          background-color white
          padding 30px
          border-radius 5px
          height 340px
          .preview-textarea
            padding 1px

    .preview-toolbar
        display flex
        align-items center
        background-color black
        justify-content space-between
        height 70px
        padding-left 10px
        padding-right 5px
        color white
