.key-generation-loading
    position relative
    width 100px
    height 100px
    display flex
    align-items center
    justify-content center
    > .preloader-wrapper
        margin auto
        position absolute
        top 0
        left 0
        right 0
        bottom 0
