.status-circle-online
    height: 15px
    width: 15px
    background-color: #28DB14
    border-radius: 150px
    -webkit-transform: skew(0deg)
    transform: skew(0deg)

.status-circle-offline
    height: 15px
    width: 15px
    background-color: #DB0F0F
    border-radius: 150px
    -webkit-transform: skew(0deg)
    transform: skew(0deg)
