.user-status
    padding 0 10px
.status-circle-online
    height 15px
    width 15px
    background-color #28DB14
    border-radius 150px
    -webkit-transform skew(0deg)
    transform skew(0deg)

.status-circle-offline
    height 15px
    width 15px
    border 2px solid rgb(132, 132, 132)
    border-radius 150px
    -webkit-transform skew(0deg)
    transform skew(0deg)
